@page "/components"

<PageTitle>Components - GOV.UK Design System</PageTitle>

<h1 class="govuk-heading-xl">Components</h1>
<p class="govuk-body-l">Components are reusable parts of the user interface that have been made to support a variety of applications.</p>

<p class="govuk-body">Individual components can be used in multiple different patterns and contexts. For example, the text input component can be used to ask for an email address, a National Insurance number or someone's name.</p>

<h2 class="govuk-heading-l">All components</h2>

<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="/components/accordion">Accordion</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/back-link">Back link</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/button">Button</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/character-count">Character count</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/checkboxes">Checkboxes</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/cookie-banner">Cookie banner</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/date-input">Date input</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/details">Details</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/error-message">Error message</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/error-summary">Error summary</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/fieldset">Fieldset</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/file-upload">File upload</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/footer">Footer</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/header">Header</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/hint">Hint</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/input">Input</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/inset-text">Inset text</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/label">Label</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/notification-banner">Notification banner</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/pagination">Pagination</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/panel">Panel</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/password-input">Password input</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/phase-banner">Phase banner</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/radios">Radios</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/select">Select</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/skip-link">Skip link</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/summary-list">Summary list</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/table">Table</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/tabs">Tabs</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/tag">Tag</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/task-list">Task list</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/textarea">Textarea</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/warning-text">Warning text</a>
    </li>
</ul>

<h2 class="govuk-heading-l">Patterns</h2>
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="/components/validation">Form validation</a>
    </li>
</ul>
