@page "/components"

<PageTitle>Components - GOV.UK Design System</PageTitle>

<h1 class="govuk-heading-xl">Components</h1>
<p class="govuk-body-l">Components are reusable parts of the user interface that have been made to support a variety of applications.</p>

<p class="govuk-body">Individual components can be used in multiple different patterns and contexts. For example, the text input component can be used to ask for an email address, a National Insurance number or someone's name.</p>

<h2 class="govuk-heading-l">All components</h2>

<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="/components/accordion">Accordion</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/back-link">Back link</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/button">Button</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/character-count">Character count</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/checkboxes">Checkboxes</a>
    </li>
    <li>
        <a class="govuk-link" href="/components/cookie-banner">Cookie banner</a>
    </li>
</ul>
