@page "/"

<PageTitle>GOV.UK Design System - Blazor Components</PageTitle>

<h1 class="govuk-heading-xl">GOV.UK Design System - Blazor Components</h1>

<p class="govuk-body-l">A Blazor implementation of the GOV.UK Design System components.</p>

<h2 class="govuk-heading-l">Components</h2>

<p class="govuk-body">
    View the full list of available components:
</p>

<p class="govuk-body">
    <a href="/components" class="govuk-link govuk-link--no-visited-state">View all components</a>
</p>

<h2 class="govuk-heading-l">About</h2>

<p class="govuk-body">
    This library provides Blazor components that replicate the functionality and appearance 
    of the GOV.UK Design System components, allowing you to build government services 
    using Blazor.
</p>
