@page "/"

<PageTitle>GOV.UK Design System - Blazor Components</PageTitle>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">GOV.UK Design System - Blazor Components</h1>

        <p class="govuk-body-l">A Blazor implementation of the GOV.UK Design System components.</p>

        <h2 class="govuk-heading-l">Components</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/components/accordion" class="govuk-link">Accordion</a></li>
        </ul>

        <h2 class="govuk-heading-l">About</h2>
        
        <p class="govuk-body">
            This library provides Blazor components that replicate the functionality and appearance 
            of the GOV.UK Design System components, allowing you to build government services 
            using Blazor.
        </p>
    </main>
</div>
