@page "/components/inset-text"
@using Blazor.DesignSystem.Components

<PageTitle>Inset text - GOV.UK Design System</PageTitle>

<h1 class="govuk-heading-xl">Inset text</h1>
<p class="govuk-body">Use the inset text component to differentiate a block of text from the content that surrounds it.</p>

<h2 class="govuk-heading-l">When to use this component</h2>
<p class="govuk-body">Use the inset text component to draw attention to important content on a page, such as quotes, examples or additional information.</p>

<h2 class="govuk-heading-l">Examples</h2>

<h3 class="govuk-heading-m">Default inset text</h3>
<GovUkInsetText>
    <p class="govuk-body">It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
</GovUkInsetText>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Inset text with multiple paragraphs</h3>
<GovUkInsetText>
    <p class="govuk-body">You cannot apply for a provisional driving licence online.</p>
    <p class="govuk-body">You'll need to fill in form D1 and send it to DVLA along with the appropriate documents.</p>
</GovUkInsetText>
