@page "/components/phase-banner"
@using Blazor.DesignSystem.Components

<PageTitle>Phase banner - GOV.UK Design System</PageTitle>

<h1 class="govuk-heading-xl">Phase banner</h1>
<p class="govuk-body">Use the phase banner component to show users your service is still being worked on.</p>

<h2 class="govuk-heading-l">Examples</h2>

<h3 class="govuk-heading-m">Alpha phase banner</h3>
<GovUkPhaseBanner Tag="Alpha">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
</GovUkPhaseBanner>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Beta phase banner</h3>
<GovUkPhaseBanner Tag="Beta">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
</GovUkPhaseBanner>
